<style>
    .back_button {
        background-color: #a9bbc2;
        color: white;
        font-weight: bold;
        font-style: italic;
        font-size: 1rem;
        border: none;
        border-radius: 6px;
        padding: 10px 15px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: background-color 0.3s ease, transform 0.2s ease;

        align-items: center;
    }

    .back_button:hover {
        background-color: #9fb2ba;
        transform: translateY(-2px);
    }
</style>
<button class="back_button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg></button>