<style>
    .add-card {
        display: flex;
        align-items: center;
        background-color: #a9bbc2;
        border-radius: 6px;
        padding: 8px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .add-card:hover {
        background-color: #9fb2ba;
        transform: translateY(-2px);
    }

    .add-card img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

    }

    .add-name {
        font-weight: bold;
        font-size: 1rem;
        color: white;
        font-style: italic;
        white-space: nowrap;
    }
</style>
<div class="add-card">
    <img src="../../../assets/add_project.png" alt="add icon">
    <span class="add-name">Create project</span>
</div>

